.table {
    width: 100%;
}

.table {
    th, td {
        border: 1px solid #95a5a6;
        border-right: 0px solid #95a5a6;
        padding: 8px 10px;
        margin: 0;
    }
    th:last-child, td:last-child {
        border-right: 1px solid #95a5a6;
    }
}